@import 'header';
@import 'footer';
@import 'button';
@import 'open-menu';
@import 'previev-saction';
@import 'logo';
@import 'servises';
@import 'hiden-menu';
@import 'program';
@import 'header-page';
@import 'registration';
@import 'form';
@import 'item-input';
@import 'caption';
@import 'hiden-choice';
@import 'added';
@import 'servis-item';
@import 'option';
@import 'close';
@import 'map';
@import 'done';
@import 'heading';
@import 'password';
@import 'query';
@import 'input-button';
@import 'input-search';