.acordion {
    padding-bottom: 70px;
}

.acordion__item:not(:last-child) {
    margin-bottom: 70px;
}

.acordion__title {
    display: flex;
    align-items: center;
    padding-left: 70px;
    cursor: pointer;

    &:active {
        opacity: .7;
    }

    @include md {
        padding: 0;
    }
}

.acordion__icon {
    width: 26px;
    height: 26px;
    margin-left: 20px;
    margin-top: -10px;
}

.acordion__desc {
    display: none;
    padding-top: 70px;
}

.acordion__desc.active {
    display: block;
}

.acordion__icon {
    transform: rotate(180deg);
}

.acordion__item.active .acordion__icon {
    transform: rotate(0);
}