.button {
    border: none;
    font-weight: 600;
    letter-spacing: 0.055em;
    font-size: 20px;

    &:active {
        opacity: .8;
    }
}
.button--black {
    width: 263px;
    height: 61px;
    color: $main-bg;
    background-color: $brand2-color;
    border: 2px solid $brand2-color;
    padding: 21px 11px 20px 41px;

    &:hover {
        background-color: $main-bg;
        color: $brand2-color;
    }
}

.button--light {
    width: 333px;
    height: 77px;
    color: $brand2-color;
    background-color:  $brand-color;
    border: 2px solid $brand-color;
    border-radius: 0px;
    padding: 30px 38px 27px 36px;
    margin-top: 28px;

    &:hover {
        background-color: $main-bg;
    }
}

.button--small {
    width: 139px;
    height: 36px;
    padding-left: 21px;
}