.calendar {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include lg {
        display: block;
    }
}

.calendar__day {
    position: relative;
    z-index: 3;
    flex-shrink: 0;
    width: 610px;
    min-height: 779px;
    padding-bottom: 24px;
    background: #dbf5f1;
    box-shadow: 30px 60px 30px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    @include max {
        width: 400px;
        min-height: 500px;
        border-radius: 32px;
    }

    @include lg {
        width: 100%;
        min-height: 0;
        border-radius: 16px;
        box-shadow: 11px 11px 24px 1px rgba(0, 0, 0, 0.1);
    }
}

.calendar__days-status {
    display: flex;
    justify-content: flex-end;
    padding-top: 36px;
    margin-right: 45px;
    margin-bottom: 24px;
    font-size: 20px;
    letter-spacing: 0.055em;

    @include lg {
        padding-top: 16px;
        margin-right: 32px;
        margin-bottom: 16px;
    }
}

.calendar__status-day-low {
    margin-right: 4px;
}

.calendar__status-day-bol {
    font-weight: 600;
}

.calendar__day-date {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 64px;

    @include lg {
        margin-bottom: 16px;
        align-items: center;
    }
}

.calendar__day-btn {
    flex-shrink: 0;
    width: 62px;
    height: 62px;
    margin-right: 54px;
    cursor: pointer;

    &:active {
        opacity: .7;
    }

    @include max {
        width: 32px;
        height: 32px;
        margin: 0 24px;
    }

    @include lg {
        width: 24px;
        height: 24px;
    }
}

.calendar__day-numb {
    display: flex;
    padding-right: 84px;
    padding-bottom: 24px;
    border-bottom: 1px solid;
    padding-left: 24px;

    @include max {
        padding-right: 24px;
    }

    @include lg {
        align-items: center;
        padding: 16px;
    }
}

.calendar__day-number {
    margin-right: 32px;
    letter-spacing: 0.055em;
    font-size: 150px;
    font-weight: 600;

    @include max {
        margin-right: 16px;
        font-size: 100px;
    }

    @include lg {
        font-size: 50px;
    }
}

.calendar__day-text {
    width: 158px;
    padding-top: 24px;
    letter-spacing: 0.055em;
    font-size: 50px;
    word-break: break-word;

    @include max {
        font-size: 24px;
    }

    @include lg {
        width: auto;
        padding: 0;
        font-size: 18px;
    }
}

.calendar__day-event {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;

    @include lg {
        margin-bottom: 24px;
    }

    @include sd {
        display: block;
        padding: 0 16px;
    }
}

.calendar__event-item {
    display: flex;
    font-size: 20px;
}

.calendar__event-item:not(:last-child) {
    margin-bottom: 32px;

    @include lg {
        margin-bottom: 16px;
    }
}

.calendar__event-time {
    font-weight: 600;
    width: 70px;
    margin-right: 30px;

    @include sd {
        margin-right: 8px;
    }
}

.calendar__event-text {
    width: 260px;

    @include sd {
        width: auto;
    }
}

.calendar__add-wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 57px;
}

.calendar__add {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:active {
        opacity: .7;
    }
}

.calendar__days {
    flex-shrink: 0;
    max-width: 640px;
    flex-grow: 1;
    padding: 64px;
    padding-right: 0;
    padding-bottom: 24px;

    @include lg {
        padding: 0;
        margin: auto;
        padding-top: 32px;
    }
}

.calendar__select-month {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__select-month-arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:active {
        opacity: .7;
    }
}

.calendar__select-month-text {
    width: 260px;
    padding: 0 16px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.055em;

    @include exlg {
        font-size: 32px;
    }
}

.calendar__select-week {
    display: flex;
    padding-bottom: 24px;
    padding-top: 48px;
    margin-bottom: 24px;
    border-bottom: 1px solid #A6E6DB;
}

.calendar__select-week-item {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.055em;
}

.calendar__select-number-item.active {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        width: 120%;
        height: 120%;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background-image: radial-gradient(#f5edfc , transparent);
        transform: translate(-50%, -50%);
    }
}

.calendar__select-number {
    display: flex;
}

.calendar__select-number-text {
    z-index: 2;
}

.calendar__select-number-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.055em;
    cursor: pointer;

    &:active {
        opacity: .7;
    }
}

.calendar__time-event {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 60px;
    padding-right: 0;
    width: 100%;
    max-width: 610px;
    margin: auto;
    background-color: #fff;
    box-shadow: 30px 60px 30px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-image: linear-gradient(#dbf5f1, #dbf5f1);
    background-size: 159px 100%;
    background-repeat: no-repeat;

    @include sd {
        border-radius: 16px;
    }
}

.calendar__time-event-wrap {
    max-width: 380px;
    width: 100%;
}

.calendar__time-event-name {
    padding-bottom: 24px;
    margin-bottom: 22px;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.055em;
}

.calendar__service {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.calendar__service-time-info {
    display: flex;
    margin-bottom: 44px;

    @include sd {
        justify-content: center;
        margin-bottom: 32px;
    }
}

.calendar__service-time {
    margin-right: 64px;
}

.calendar__service-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.calendar__service-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.calendar__service-wrap.active {
    display: flex;
}

.calendar__service-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include sd {
        background-color: rgba(196, 196, 196, 0.4);
    }
}

.calendar__close {
    position: absolute;
    right: 26px;
    top: 21px;
}
