.footer {
    height: 420px;
    background-color: $brand-color;
    margin-top: auto;
}

.footer__wrap {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 140px;
}

.footer__link-logo {
    display: block;
}

.footer__logo {
    width: 105px;
    height: 81px;
}

.footer__about {
    margin-left: 66px;
}

.footer__nav {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.055em;
}

.nav-left {
    margin-left: 66px;
}

.nav-right {
    margin-left: 206px;
}
.footer__list {
    margin-top: 20px;
}

.footer__about-text {
    width: 381px;
    height: 100px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.055em;
    padding-left: 20px;
}

.footer__star {
    display: flex;
    align-items: center;
    padding: 19px;
    margin-left: 67px;
}
.footer__star-img {
    width: 32px;
    height: 38px;
    margin-right: 20px;
}

.footer__star-span {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.055em;
}