.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    padding: 0 15px;
    width: 25%;
    margin-bottom: 30px;

    @include md {
        width: 33.33%;
    }

    @include sd {
        padding: 0 8px;
        width: 50%;
        margin-bottom: 16px;
    }
}

.gallery__img {
    width: 100%;
}