.heading {
    text-align: left;
    max-width: 535px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.055em;
    margin-bottom: 111px;
    padding-right: 72px;

    @include max {
        font-size: 36px;
    }

    @include exlg {
        font-size: 32px;
        margin-bottom: 64px;
    }

    @include lg {
        font-size: 28px;
        padding-right: 0;
        text-align: center;
    }

    @include md {
        font-size: 24px;
    }
}