.header {
    overflow: hidden;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap-logo {
    margin-left: 19px;
}

.header__link-logo {
    display: block;
}

.header__container {
    position: relative;
}

.header__vector {
    position: absolute;
    width: 200vw;
    height: 1px;
    left: 50px;
    bottom: 10px;
    border: 1px solid #484848;
}
