.header-page__wrap {
    display: flex;
    align-items: center;
}

.header-page__wrap-title {
    width: 100%;
    max-width: 580px;
    margin-right: 29px;
}

.header-page__text--small {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.055em;
    text-align: left;
}