.header-page__wrap {
    display: flex;
    align-items: center;
}

.header-page__heading {
    width: 621px;
    margin-left: 29px;
}
.header-page__text--small {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.055em;
    text-align: left;
}