.hiden-menu {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 200px;
    padding-top: 69px;
    padding-right: 32px; 
    background-color: rgba(196, 196, 196, 0.4);
}

.hiden-menu__wrap {
    width: 667px;
    border-radius: 50px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    text-align: left;
    background-color: $main-bg;
    // overflow: hidden;
    margin-left: auto;
    padding-left: 67px;
    padding-right: 67px;
}

.hiden-menu__heading {
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 0.055em;
    padding-top: 67px;
    width: 277px;
}

.hiden-menu__vector {
    width: 300px;
    height: 0px;
    margin-top: 20px;
    border: 1px solid #484848;
    margin-left: -50px;
}

.hiden-menu__list {
    padding-top: 50px;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.055em;
    // transition: ;
}

.hiden-menu__list-bottom {
    padding-bottom: 66px;
}

.hiden-menu__nav:hover {
    font-weight: 600;
    letter-spacing: 0.055em;
    
} 

.hiden-menu__star {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hiden-menu__star-text {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.055em;
}

.hiden-menu__star-img {
    padding-left: 35px;
}

.bottom-nav__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}