.input-item2 {
    width: 100%;
    display: block;
    height: 50px;
    font-size: 40px;
    letter-spacing: 0.055em;
    background-color: #fff;
    padding: 0 16px;

    @include lg {
        font-size: 20px;
    }
}

.input-item2--area {
    height: 200px;
    padding: 20px;
}