.logo {
    display: flex;
    position: relative;
}

.logo__picrures{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 130px;
    background-color: $brand2-color;
    position: relative;
    margin-left: 2px;

    @include exlg {
        height: 90px;
    }
}

.logo__img {
    width: 170px;
    height: 61px;
    object-fit: contain;

    @include exlg {
        width: 120px;
    }
}

