
.logo {
    display: flex;
    position: relative;

}
// .logo__wrap {
//     // margin-right: 168px;
// }

.logo__picrures{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 580px;
    height: 130px;
    background-color: $brand2-color;
    position: relative;
    margin-left: 2px;
}


.logo__img {
    width: 170px;
    height: 61px;
}

