.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    padding-bottom: 24px;
    padding-top: 24px;
    background-color: rgba(196, 196, 196, 0.4);
    overflow: auto;
}

.modal.active {
    display: flex;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal__close {
    position: absolute;
    right: 26px;
    top: 21px;
}

.modal__wrap {
    position: relative;
    z-index: 1;
    margin: auto;
    padding: 0 8px;
}