.page-form {
    margin-top: 294px;
    margin-bottom: 200px;

    @include max {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    @include exlg {
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

.page-form__form {
    width: 292px;
    margin: 0 auto;
    text-align: left;
}

.page-form__helper {
    display: flex;
    justify-content: flex-end;
    padding-top: 200px;

    @include md {
        padding-top: 64px;
    }
}
