.previev-saction {
    overflow: hidden;
    padding-top: 68px;

    @include exlg {
        padding-top: 55px;
    }
}

.previev-saction__wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.previev-saction__heart {
    position: relative;
    width: 123px;
    flex-shrink: 0;

    @include exlg {
        width: 40px;
    }
}

.previev-saction__heart-wrap {
    position: absolute;
    left: -65px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);

    @include exlg {
        left: -113px;
    }
}

.previev-saction__heart-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transform: rotate(90deg);
}

.previev-saction__text {
    font-size: 20px;
}

.previev-saction__headline {
    position: absolute;
    width: 688px;
    text-align: left;
    left: 366px;
    top: 39px;
    font-weight: 600;
    font-size: 90px;
    letter-spacing: 0.055em;

    @include max {
        margin-bottom: 16px;
    }

    @include exlg {
        font-size: 60px;
    }
}

.previev-saction__photo {
    width: 501px;
    height: 683px;
    flex-shrink: 0;
}

.previev-saction__img {
    width: 100%;
    height: 100%;
}

.previev-saction__section-left {
    display: flex;
    flex-direction: column;
    padding-left: 127px;
    padding-top: 89px;

    @include max {
        padding-left: 50px;
    }
}

.previev-saction__button {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}