.query {
    // display: none;
    // position: fixed;
    // z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 200px;
    padding-top: 69px;
    padding-right: 32px; 
    // background-color: rgba(196, 196, 196, 0.4);
}

.query-wrap {
    width: 1113px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    margin: 0 auto;
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 50px;
    //background: #DBF5F1;
    box-shadow: 30px 60px 30px 15px rgba(0, 0, 0, 0.1);

     &::before {
         content: "";
         position: absolute;

         width: 100%;
         height: 100%;
         background: #DBF5F1;
         filter: blur(20px);
     }

    @include sd {
        border-radius: 16px;
    }
}

.query__heading {
    max-width: 783px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.055em;
    padding-top: 48px;
    margin-bottom: 100px;
    z-index: 1;
}

.query__form {
    display: flex;
    align-items: start;
}

.query__form-mail {
    width: 690px;
    height: 84px;
}

.query__form-area {
    padding: 20px;
    font-size: 20px;
    width: 690px;
    max-height: 200px;
    background: #FFFFFF;
    margin-bottom: 35px;
}

.query__form-title {
    width: 100px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.055em;
}