.registration {
    margin-top: 294px;
    margin-bottom: 200px;
    // text-align: left;
}

.registration__form {
    width: 390px;
    margin: 0 auto;
    text-align: left;
    padding-left: 53px;
}
.registration__prompt-text {
    font-weight: 300;
font-size: 20px;
line-height: 100%;
/* or 20px */

letter-spacing: 0.055em;
}

.registration__form-title {
    font-weight: 600;
font-size: 20px;
line-height: 100%;
/* or 20px */

letter-spacing: 0.055em;
}