.servises {
    padding-top: 256px;
}

.servises__top {
    display: flex;
}

.servises__heading {
    width: 621px;
    padding-top: 41px;
    margin-left: 168px;
}

.servises__text--bold {
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.055em;
    text-align: left;
}

.servises__menu {
    display: flex;
}

.servises__menu-right {
    width: 473px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-top: -24px;
    // отрицательный отступ
}

.servises__menu-left {
    padding-top: 208px;
    padding-left: 145px;
    margin-right: 100px;
}

.time-icon {
    padding-top: 58px;
    padding-bottom: 61px;
}

.card {
    padding-bottom: 69px;
}

.money-icon {
    margin-bottom: 63px;
}

.servis-item__nav {
    list-style: disc;
    padding: 30px;
    padding-right: 0;
}
.servis-item__list {
    padding: 10px;
}





