.spending {
    max-width: 1300px;
    min-width: 700px;
    margin: 0 auto;
}

.spending__wrap {
    display: flex;
    align-items: center;
}

.spending__wrap > * {
    height: 80px;
    padding: 20px;
}

.spending__wrap:not(.spending__wrap-heading) > *:nth-child(even){
    background: #dbf5f1;
}

.spending__wrap--table {
    border-bottom: 1px solid black;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.055em;
}

.spending__head {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.055em;
}

.spending__data {
    width: 150px;
    flex: 1;
}

.spending__name {
    width: 350px;
    flex: 3;
}

.spending__type {
    width: 200px;
    position: relative;
    flex: 1;
}

.spending__price {
    width: 200px;
    flex: 1;
}

.spending__add {
    text-align: center;
}

.spending__button-add {
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.055em;
}
.spending__add--btn {
    width: 17px;
    height: 17px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.spending__wrap-delete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    cursor: pointer;
    opacity: 0;
}

.spending__wrap:hover .spending__wrap-delete {
    opacity: 1;
}

.spending__wrap-edit {
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:active {
        opacity: .5;
    }
}

.spending__wrap-plus-black {
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 100px;
    background: black;
    margin-left: 20px;
    cursor: pointer;

    &:active {
        opacity: .5;
    }
}

.spending__btn {
    max-width: 1000px;
    margin: 0 auto;

    @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

.spending__btn-save {
    @include md {
        margin-left: 0;
    }
}