.container {
    @include max {
        width: 1200px;
    }
}

body {
    font-family: 'Futura';
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

body.fixed {
    overflow: hidden;
    padding-right: 14px;
}

.container {
    width: 1503px;
    margin: 0 auto; 
}

a {
    &:hover {
        text-decoration: underline;
    }

    &:active {
        opacity: .8;
    }
}