@mixin icon($name) {
    background-image: url('../img/icons/#{$name}');
}

[class*="icon-i"] {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-i-heart { @include icon('heart.svg'); }
.icon-i-arrow { @include icon('arrow.svg'); }