@mixin icon($name) {
    background-image: url('../img/icons/#{$name}');
}

[class*="icon-i"] {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-i-heart { @include icon('heart.svg'); }
.icon-i-arrow { @include icon('arrow.svg'); }
.icon-i-circle { @include icon('circle.svg'); }
.icon-i-profile { @include icon('profile.svg'); }
.icon-i-clock { @include icon('clock.svg'); }
.icon-i-rub { @include icon('rub.svg'); }
.icon-i-star { @include icon('star.svg'); }