@mixin icon($name) {
    background-image: url('../img/icons/#{$name}');
}

[class*="icon"] {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-heart { @include icon('heart.svg'); }
.icon-arrow { @include icon('arrow.svg'); }